{%extends 'base.html'%}
{%block main_block%}

<div class="flex max-w-2xl flex-col items-center rounded-md border md:flex-row my-12 mx-96">
  <div class="h-full w-full md:h-[500px] md:w-[350px]">
    <img
      src="{{data.image.url}}"
      alt="cake"
      class="h-full w-full rounded-md object-cover"
    />
  </div>
  <div>
    <div class="p-4">
      <h1 class="inline-flex items-center text-lg font-semibold">
        {{data.cake_object.name}}
      </h1>
      <p class="mt-3 text-sm text-gray-600">
       Weight: {{data.weight}}
      </p>
      <p class="mt-3 text-sm text-gray-600">
        Shape: {{data.shape}}
       </p>
       <p class="mt-3 text-sm text-gray-600">
        Weight: {{data.price}}
       </p>
       <p class="mt-3 text-sm text-gray-600">
        Flavour: {{data.flavour_object.flavour}}
       </p>
       <button
      type="button"
      class="mt-4 w-full rounded-sm bg-yellow-900 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-yellow-900/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
      >
        <a href="">
          Add To Cart</a>
      </button>
    </div>
  </div>
</div>

{%endblock%}

<!-- 
{%for oc in data.cake_object.Occasion_object.occasion.all %}
{{oc.occasion}}
{%endfor%} -->
