{%extends 'base.html'%}

{%block main_block%}

<div class="">
{%for cat in data%}
<div class="w-[300px] rounded-md border my-12 mx-96 bg-yellow-800">
  
  <div class="p-5 justify-center">
    
    <h1 class="text-lg font-semibold ">{{cat.category}}</h1>
   
    <button
      type="button"
      class="mt-4 rounded-sm bg-yellow-900 px-2.5 py-1 text-[10px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
    >
    <a href="{%url 'Category-item-list' cat.id %}">
      More
    </a>
      
    </button>
  </div>
</div>
{%endfor%}
</div>

{%endblock%}

